dmlex-v1.0/specification/dmlex-v1.0-wd01.html
dmlex-v1.0/specification/dmlex-v1.0-wd01.pdf
dmlex-v1.0/specification/dmlex-v1.0-wd01.xml
dmlex-v1.0/specification/dmlex-v1.0-wd01.fo
dmlex-v1.0/specification/core/objectTypes/.label.xml.swp

.github/workflows/.main.yml.swp

*.drawio.bkp
*.drawio.dtmp
dmlex-v1.0/specification/dmlex.xpr

dmlex-v1.0/specification/Makefile.dep
dmlex-v1.0/specification/lib/__pycache__/nvh.cpython-310.pyc
dmlex-v1.0/specification/dmlex-v1.0-csd01.fo
dmlex-v1.0/specification/dmlex-v1.0-csd01.pdf
dmlex-v1.0/specification/dmlex-v1.0-csd01.xml
dmlex-v1.0/specification/dmlex.dot
dmlex-v1.0/specification/dmlex.dot.content
dmlex-v1.0/specification/dmlex_uml.png
dmlex-v1.0/specification/dmlex_uml.svg
dmlex-v1.0/specification/dmlex_uml_core.png
dmlex-v1.0/specification/dmlex_uml_core_sm.png
dmlex-v1.0/specification/examples/examples/source/0.json
dmlex-v1.0/specification/examples/examples/source/0.rdf
dmlex-v1.0/specification/examples/examples/source/0.xml
dmlex-v1.0/specification/examples/examples/source/1.json
dmlex-v1.0/specification/examples/examples/source/1.rdf
dmlex-v1.0/specification/examples/examples/source/1.xml
dmlex-v1.0/specification/examples/examples/source/10.json
dmlex-v1.0/specification/examples/examples/source/10.rdf
dmlex-v1.0/specification/examples/examples/source/10.xml
dmlex-v1.0/specification/examples/examples/source/11.json
dmlex-v1.0/specification/examples/examples/source/11.rdf
dmlex-v1.0/specification/examples/examples/source/11.xml
dmlex-v1.0/specification/examples/examples/source/12.json
dmlex-v1.0/specification/examples/examples/source/12.rdf
dmlex-v1.0/specification/examples/examples/source/12.xml
dmlex-v1.0/specification/examples/examples/source/13.json
dmlex-v1.0/specification/examples/examples/source/13.rdf
dmlex-v1.0/specification/examples/examples/source/13.xml
dmlex-v1.0/specification/examples/examples/source/14.json
dmlex-v1.0/specification/examples/examples/source/14.rdf
dmlex-v1.0/specification/examples/examples/source/14.xml
dmlex-v1.0/specification/examples/examples/source/15.json
dmlex-v1.0/specification/examples/examples/source/15.rdf
dmlex-v1.0/specification/examples/examples/source/15.xml
dmlex-v1.0/specification/examples/examples/source/16.json
dmlex-v1.0/specification/examples/examples/source/16.rdf
dmlex-v1.0/specification/examples/examples/source/16.xml
dmlex-v1.0/specification/examples/examples/source/17.json
dmlex-v1.0/specification/examples/examples/source/17.rdf
dmlex-v1.0/specification/examples/examples/source/17.xml
dmlex-v1.0/specification/examples/examples/source/18.json
dmlex-v1.0/specification/examples/examples/source/18.rdf
dmlex-v1.0/specification/examples/examples/source/18.xml
dmlex-v1.0/specification/examples/examples/source/19.json
dmlex-v1.0/specification/examples/examples/source/19.rdf
dmlex-v1.0/specification/examples/examples/source/19.xml
dmlex-v1.0/specification/examples/examples/source/2.json
dmlex-v1.0/specification/examples/examples/source/2.rdf
dmlex-v1.0/specification/examples/examples/source/2.xml
dmlex-v1.0/specification/examples/examples/source/20.json
dmlex-v1.0/specification/examples/examples/source/20.rdf
dmlex-v1.0/specification/examples/examples/source/20.xml
dmlex-v1.0/specification/examples/examples/source/21.json
dmlex-v1.0/specification/examples/examples/source/21.rdf
dmlex-v1.0/specification/examples/examples/source/21.xml
dmlex-v1.0/specification/examples/examples/source/22.json
dmlex-v1.0/specification/examples/examples/source/22.rdf
dmlex-v1.0/specification/examples/examples/source/22.xml
dmlex-v1.0/specification/examples/examples/source/23.json
dmlex-v1.0/specification/examples/examples/source/23.rdf
dmlex-v1.0/specification/examples/examples/source/23.xml
dmlex-v1.0/specification/examples/examples/source/24.json
dmlex-v1.0/specification/examples/examples/source/24.rdf
dmlex-v1.0/specification/examples/examples/source/24.xml
dmlex-v1.0/specification/examples/examples/source/3.json
dmlex-v1.0/specification/examples/examples/source/3.rdf
dmlex-v1.0/specification/examples/examples/source/3.xml
dmlex-v1.0/specification/examples/examples/source/4.json
dmlex-v1.0/specification/examples/examples/source/4.rdf
dmlex-v1.0/specification/examples/examples/source/4.xml
dmlex-v1.0/specification/examples/examples/source/5.json
dmlex-v1.0/specification/examples/examples/source/5.rdf
dmlex-v1.0/specification/examples/examples/source/5.xml
dmlex-v1.0/specification/examples/examples/source/6.json
dmlex-v1.0/specification/examples/examples/source/6.rdf
dmlex-v1.0/specification/examples/examples/source/6.xml
dmlex-v1.0/specification/examples/examples/source/7.json
dmlex-v1.0/specification/examples/examples/source/7.rdf
dmlex-v1.0/specification/examples/examples/source/7.xml
dmlex-v1.0/specification/examples/examples/source/8.json
dmlex-v1.0/specification/examples/examples/source/8.rdf
dmlex-v1.0/specification/examples/examples/source/8.xml
dmlex-v1.0/specification/examples/examples/source/9.json
dmlex-v1.0/specification/examples/examples/source/9.rdf
dmlex-v1.0/specification/examples/examples/source/9.xml
dmlex-v1.0/specification/dmlex-v1.0-csd02.fo
dmlex-v1.0/specification/dmlex-v1.0-csd02.pdf
dmlex-v1.0/specification/dmlex-v1.0-csd02.xml