dmlex-v1.0/specification/dmlex-v1.0-wd01.html
dmlex-v1.0/specification/dmlex-v1.0-wd01.pdf
dmlex-v1.0/specification/dmlex-v1.0-wd01.xml
dmlex-v1.0/specification/dmlex-v1.0-wd01.fo
dmlex-v1.0/specification/core/objectTypes/.label.xml.swp

.github/workflows/.main.yml.swp

*.drawio.bkp
*.drawio.dtmp
dmlex-v1.0/specification/dmlex.xpr

dmlex-v1.0/specification/Makefile.dep
dmlex-v1.0/specification/lib/__pycache__/nvh.cpython-310.pyc
dmlex-v1.0/specification/dmlex-v1.0-csd01.fo
dmlex-v1.0/specification/dmlex-v1.0-csd01.pdf
dmlex-v1.0/specification/dmlex-v1.0-csd01.xml
dmlex-v1.0/specification/dmlex.dot
dmlex-v1.0/specification/dmlex.dot.content
dmlex-v1.0/specification/dmlex_uml.png
dmlex-v1.0/specification/dmlex_uml.svg
dmlex-v1.0/specification/dmlex_uml_core.png
dmlex-v1.0/specification/dmlex_uml_core_sm.png
dmlex-v1.0/specification/dmlex-v1.0-csd02.fo
dmlex-v1.0/specification/dmlex-v1.0-csd02.pdf
dmlex-v1.0/specification/dmlex-v1.0-csd02.xml
